body {
    margin: 10;
    font-family: sans-serif;
    color: rgb(3, 0, 0);
}

.navbar {
    list-style-type: square;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(31, 31, 182);
    display: inline-block;
}