{% extends 'base.html' %}

{% block head %}<title>Home</title>{% endblock %}

{% block body %}
<div id="homepage-navbar" class = navbar>
    <ul>
        <li><a href = "{{url_for('next')}}">Next</a></li>
        <li><a href="{{url_for('discover')}}">Discover</a></li>
    </ul>
</div>
<div>
    <p>Enter a rating for these books from 1 to 5 </p>
    
    <form action=" {{url_for('index')}}" method="POST">
        {% for field in form%}
            {{field.label}}
            <br>
            {{field}}
            <br>
            <br>
        {% endfor %}
    </form>
    

</div>
{% endblock %}